{% block footer %}
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-logo"></div>
                </div>
                <div class="col-md-4">
                    <div class="footer-links">
                        <ul>
                            <li>Link 1</li>
                            <li>Link 2</li>
                            <li>Link 3</li>
                            <li>Link 4</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-social">
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}