{% block sidebar %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav sidebar-collapse">
        {{ knp_menu_render('KoreProductBundle:Builder:sideMenu') }}
    </div>
</div>
{% endblock %}
